#root {
  width: 100%;
  text-align: center;
}

.App {
  top: 0;
  left: 0;
  right: 0;
}

/* section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 5rem 0.5rem;
} */

.ring-error {
  --tw-ring-color: #f31260 !important;
  --tw-ring-opacity: 1 !important;
}

.read-the-docs {
  color: #888;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
